body {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#main {
    position: relative;
    display: inline-block;
    width: 500px;
    height: 600px;
    padding: 20px;
    filter: drop-shadow(0px 0px 10px lightgray);
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: white;
}


#password {
    text-align: center;
    width: 80%;
    height: 65px;
    border: 1px dashed lightgrey;
    border-radius: 10px;
}

#buttSection {
    width: 225px;
    text-align: left;
    display: inline-block;
}

.range {
    position: relative;
    display: inline-block;
    color: darkgreen;
    padding-left: 10px;
    padding-right: 10px;
}

#passText {
    margin-top: 20px;
    color: darkgreen;
}

.radio {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
}

#generate {
    float: left;
    width: 150px;
    height: 30px;
    color: white;
    background-color: darkred;
    border: 1px solid darkred;
    border-radius: 15px;
}

#copy {
    float: right;
    width: 150px;
    height: 30px;
    color: white;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 15px;
}

/* 992px */
@media only screen and (max-width: 992px) {
    #main {
        position: relative;
        display: inline-block;
        width:400px;
        padding: 20px;
        filter: drop-shadow(0px 0px 10px lightgray);
        border-radius: 10px;
        border: 1px solid lightgray;
        background-color: white;
    }  
}

/* 768px media inquiery */
@media only screen and (max-width: 768px) {
    #main {
        position: relative;
        display: inline-block;
        width:350px;
        padding: 20px;
        filter: drop-shadow(0px 0px 10px lightgray);
        border-radius: 10px;
        border: 1px solid lightgray;
        background-color: white;
    }
}

/* 576px */
@media only screen and (max-width: 576px){                                                                                                                                                                                                                     
    #main {
        width: 325px;
        padding: 20px;
        background-color: white;
    }
}
